.container {
  max-width: 400px;
  margin: 0 auto;
}

#bank-container {
  display: flex;
  justify-content: center;
}

.bank {
  margin: 0 auto;
  padding: 0.3rem 0.7rem;
}

#player-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.player {
  margin-top: 0.3rem;
  padding: 0.3rem 0.7rem;
}

.player > span,
.bank > span {
  display: block;
  margin: 0.2rem 0;
  text-transform: uppercase;
  font-weight: bold;
}

.player > p,
.bank > p {
  margin: 0.2rem 0;
}

.icons-container {
  display: flex;
  justify-content: flex-start;
}

.icons-container > svg {
  margin-right: 0.5rem;
}
