@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  --neonBlue: #1919a6;
  --blue: #2121de;
  --tumbleweed: #dea185;
  --red: #fd0000;
  --electricGreen: #00ff00;
  --yellow: #ffff00;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: var(--neonBlue);
}

h1 {
  font-size: 3rem;
  color: var(--yellow);
  margin: 0 auto;
}

h2 {
  font-size: 1.4rem;
  color: var(--neonBlue);
  align-self: center;
  margin-bottom: 0;
}

body {
  font-size: 1.2rem;
}

.navBar {
  background-color: var(--neonBlue);
  display: flex;
}

.hidden {
  display: none;
}

.container {
  padding: 2em 0;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.form__group {
  margin: 0.5em 0;
  padding: 0.3em 0;
  display: flex;
  flex-direction: column;
}

.form__label {
  display: block;
  color: var(--blue);
  align-self: center;
}

.form__control {
  align-self: center;
  outline: none;
  margin-top: 0.2rem;
  height: 1.8rem;
  width: 15rem;
  padding: 0 0.5rem;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  color: --var(--neonBlue);
}

.form__control:focus {
  border: 2px solid var(--neonBlue);
  box-shadow: 0.2rem 0.2rem;
}

.button {
  height: 2rem;
  padding: 0.2rem 0.7rem;
  border-radius: 0.8rem;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--electricGreen);
  color: var(--yellow);
}

.button:hover,
.button:focus {
  color: var(--neonBlue);
  box-shadow: 0.2rem 0.2rem;
}

.error {
  background-color: var(--red);
  border: 2px solid var(--red);
}

.error:focus {
  box-shadow: 0.2rem 0.2rem;
}

#bankContainer {
  display: flex;
  justify-content: center;
}

.bank,
.player {
  padding: 0.3rem 0.7rem;
}

#playerContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.player {
  margin-top: 0.3rem;
}

.player > span,
.bank > span {
  display: block;
  margin: 0.2rem 0;
  text-transform: uppercase;
  font-weight: bold;
}

.player > p,
.bank > p {
  margin: 0.2rem 0;
}

.icons-container {
  display: flex;
  justify-content: flex-start;
}

.icons-container > svg {
  margin-right: 0.5rem;
}

.fa-plus-square {
  color: var(--electricGreen);
}

.fa-minus-square {
  color: var(--red);
}
